* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono;
  font-size: 12px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window.eDP-1 * {
  font-size: 10px;
}

window {
  color: #ffffff;
  background: rgba(35, 38, 53, 0.8);
}

#workspaces {
  margin: 0 2px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(217, 216, 216, 0.6);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
  font-weight: bold;
  /* border-bottom: 2px solid rgba(217, 216, 216, 1); */
}

#workspaces button.unfocused {
  /* border-bottom: 2px solid rgba(217, 216, 216, 0); */
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-mail {
  margin: 0px 6px 0px 10px;
  min-width: 25px;
}

#clock {
  margin: 0px 2px 0px 2px;
  min-width: 120px;
}

#custom-timer {
  font-weight: bold;
  color: rgba(247, 172, 66, 1);
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}
