[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-ls"]
	path = vim/bundle/vim-ls
	url = git://github.com/gkz/vim-ls.git
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-wombat256mod"]
	path = vim/bundle/vim-wombat256mod
	url = git://github.com/michalbachowski/vim-wombat256mod.git
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
