# -*- mode: gitignore; -*-

auto-save-list/
bookmarks
elpa/
emms/
eshell/
jabber-avatar-cache/
jabber-history/
thumbs/
emojis/
org-gcal/
request/
var/
backups/
tramp
projectile*
recentf
url/cookies
ido.last
config.el
smex-items
