# ln -f ~/.dotfiles/emacs/exwm/exwm.desktop /usr/share/xsessions/exwm.desktop
[Desktop Entry]
Name=exwm
Comment=Emacs Window Manager
Exec=sh /home/daviwil/.dotfiles/emacs/exwm/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
