# -*- mode: gitignore; -*-

auto-save-list/
bookmarks
elpa/
emms/
transient/
eshell/*
!eshell/alias
!eshell/profile
jabber-avatar-cache/
jabber-history/
thumbs/
emojis/
org-gcal/
request/
var/
backups/
image-dired/
magithub/
.lsp-session-v1
network-security.data
forge-database.sqlite
tramp
projectile*
recentf
url/cookies
ido.last
config.el
smex-items
